<header class="colorful">

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-2">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="logo"><a href="{{ site.url }}/" data-escp=""></a></div>
      </div>

      <div class="col-md-9 col-sm-10">
        <div class="collapse navbar-collapse navbar-right" id="main-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% for menu in site.menu %}
            <li><a{% if site.url contains menu.url %} class="active"{% endif %} href="{{ site.url }}/{{menu.url}}">{{menu.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
